<div class="bsh-backgrounds-container">
    <div class="bsh-backgrounds-container-row">
	    <div class="bsh-background-name">{{localize locale_keys.label}}</div>
	    <div class="bsh-background-origin">{{capitalize origin}}</div>
	    <div class="bsh-gift-entry-actions">
	        <i class="fas fa-info-circle bsh-info-icon" data-content="{{localize locale_keys.description}}"></i>
        </div>
	</div>
</div>