<div class="bsh-backgrounds-container">
    <div class="bsh-backgrounds-container-row">
	    <div class="bsh-background-name">{{localize localeKeys.label}}</div>
	    <div class="bsh-background-origin">{{localize originLocaleKey}}</div>
	    <div class="bsh-gift-entry-actions">
	        <i class="fas fa-info-circle bsh-info-icon" data-content="{{localize localeKeys.description}}"></i>
        </div>
	</div>
</div>