<div class="bsh-tab-body-container">
	{{> "systems/black-sword-hack/templates/partials/cs-front-page-tab-body.hbs"}}

	{{> "systems/black-sword-hack/templates/partials/cs-equipment-tab-body.hbs"}}

	{{> "systems/black-sword-hack/templates/partials/cs-magic-tab-body.hbs"}}

    {{> "systems/black-sword-hack/templates/partials/cs-saga-tab-body.hbs"}}

    {{> "systems/black-sword-hack/templates/partials/cs-background-tab-body.hbs"}}
</div>
