<p>
    [{{actor}}] {{localize "bsh.messages.blurbs.summons"}}: {{demon}}
</p>

{{> "systems/black-sword-hack/templates/messages/roll.hbs" roll}}

<p class="bsh-summon-results">
    {{localize "bsh.messages.blurbs.summonSuccess"}}
</p>
