<p class="bsh-doomed-notice">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="bsh-roll-column-content">
                        <i class="fas fa-skull"></i>
                    </div>
                </td>
                <td>
                    <div class="bsh-roll-column-content">
                        {{localize "bsh.messages.blurbs.doomed"}}
                    </div>
                </td>
                <td>
                    <div class="bsh-roll-column-content">
                        <i class="fas fa-skull"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</p>
