<p>
    [{{actor}}] {{localize "bsh.messages.blurbs.casts"}}: {{spell}}
</p>

{{> "systems/black-sword-hack/templates/messages/roll.hbs" roll}}

<p class="bsh-summon-results">
    {{localize "bsh.messages.blurbs.castSuccess"}}
</p>
