<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" weight="64">
		<h1>
			<input type="text" name="name" value="{{item.name}}" />
		</h1>
	</header>

	<div class="bsh-spirit-sheet-body">
		<div class="bsh-field">
			<label for="system.description" class="bsh-label">{{localize "bsh.fields.labels.description"}}</label>
			{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
		</div>
	</div>
</form>