<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" weight="64">
		<h1>
			<input type="text" name="name" value="{{item.name}}" />
		</h1>
	</header>
	<div class="bsh-weapon-body">
		<div class="bsh-field">
			<label class="bsh-label">{{localize "bsh.fields.labels.type"}}</label>
	    	<select name="system.type" class="bsh-input bsh-select">
			{{#select item.system.type}}
			{{#each configuration.weaponTypes as |key value|}}
	    		<option value="{{value}}">{{localize key}}</option>
			{{/each}}
			{{/select}}
	    	</select>
		</div>

		<div class="bsh-field">
			<label class="bsh-label">{{localize "bsh.fields.labels.hands"}}</label>
	    	<select name="system.hands" class="bsh-input bsh-select">
			{{#select item.system.hands}}
			{{#each configuration.weaponHandsList as |key value|}}
	    		<option value="{{value}}">{{localize key}}</option>
			{{/each}}
			{{/select}}
	    	</select>
		</div>

		<div class="bsh-field">
			<label class="bsh-label">{{localize "bsh.fields.labels.rarity"}}</label>
	    	<select name="system.rarity" class="bsh-input bsh-select">
			{{#select item.system.rarity}}
			{{#each configuration.itemRarityList as |key value|}}
	    		<option value="{{value}}">{{localize key}}</option>
			{{/each}}
			{{/select}}
	    	</select>
		</div>
	</div>

	<div class="bsh-field">
		<label for="system.description" class="bsh-label">{{localize "bsh.fields.labels.description"}}</label>
		{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
	</div>
</form>